[Unit]
Description=Consul
Documentation=https://consul.io/docs/
Requires=network-online.target
After=network-online.target
ConditionFileNotEmpty={{ base_dir['configs'] }}/{{ bin_name['consul'] }}.d/50-consul.hcl

[Service]
User={{ bin_name['consul'] }}
Group={{ bin_name['consul'] }}
PermissionsStartOnly=true
ExecStartPre=-/bin/mkdir -p {{ base_dir['binaries'] }}/{{ bin_name['consul'] }}
ExecStartPre=/bin/chown -R {{ bin_name['consul'] }}:{{ bin_name['consul'] }} {{ base_dir['binaries'] }}/{{ bin_name['consul'] }}
PidFile={{ base_dir['binaries'] }}/{{ bin_name['consul'] }}/{{ bin_name['consul'] }}.pid
KillMode=process
KillSignal=SIGINT
ExecStart={{ base_dir['binaries'] }}/{{ bin_name['consul'] }} agent \
    -config-dir={{ base_dir['configs'] }}/{{ bin_name['consul'] }}.d \
    -pid-file={{ base_dir['binaries'] }}/{{ bin_name['consul'] }}/{{ bin_name['consul'] }}.pid
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=2
StartLimitBurst=3
StartLimitInterval=10
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
