[Unit]
Description="HashiCorp Consul"
Documentation=https://consul.io/
Requires=network-online.target
After=network-online.target
ConditionFileNotEmpty={{ os_dir_config }}/consul.d/consul-base.hcl

[Service]
User=consul
Group=consul
ExecStart={{ os_dir_binaries }}/consul agent \
    -config-dir={{ os_dir_config }}/consul.d/
ExecReload={{ os_dir_binaries }}/consul reload
KillMode=process
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
