node_name      = "{{ ansible_hostname }}"
advertise_addr = "{{ ansible_default_ipv4['address'] }}"
client_addr    = "0.0.0.0"
datacenter     = "{{ consul['datacenter'] | default('dc1') }}"
domain         = "{{ consul['domain'] | default('consul.') }}"
data_dir       = "{{ base_dir['data'] }}/consul }}/data"
retry_join     = {{ consul['bootstrap']['addresses'] | default('0.0.0.0') | to_json}}
ui             = {{ consul['ui'] | default(true) | bool | lower }}
