connect {
  enabled = {{ consul_connect_enabled | default(false) | bool | lower }}
{% if consul_connect_vault_enabled %}
  ca_provider = "vault"
  ca_config {
    address = "{{ consul_connect_address | default('http://127.0.0.1:8200') }}"
    token = "{{ consul_connect_vault_token }}"
    root_pki_path = "{{ consul_connect_vault_pki_root | default('pki-connect-root') }}"
    intermediate_pki_path = "{{ consul_connect_vault_pki_intermediate | default('pki-connect-intermediate') }}"
  }
{% endif %}
}
